body {
    background-color: #272932;
}

h1, h2 {
    color: #D8A47F;
}

.btn-firmar {
    color: #0F7173;
    border-color: ##0F7173;
}

.btn-firmar:hover {
    background-color: #0F7173;
    color: #fff;
}

.btn-custom {
    color: #0F7173;
    border-color: ##0F7173;
}

.btn-custom:hover {
    background-color: #0F7173;
    color: #fff;
}
